<app-caption (filterEdit)="setFilter($event)"></app-caption>
@if (!GLOBAL.MOBILE) {
  <p-table
    [value]="sortArr(shownList)"
    [columns]="[
      { field: 'name', header: 'Nome' },
      { field: 'matricola', header: 'Matricola' },
      { field: 'stato', header: 'Stato' },
      { field: 'esito', header: 'Esito' },
      { field: 'lastTrasm', header: 'Ultima trasmissione' },
      { field: 'lastVer', header: 'Ultima verifica' },
      { field: 'lastVerLab', header: 'Laboratorio ultima verifica' },
      { field: 'lastVerTec', header: 'Tecnico ultima verifica' },
      { field: 'versDisp', header: 'Versione disponibile' },
      { field: 'versModel', header: 'Versione modello' },
      { field: 'date', header: 'Scadenza assistenza' },
      { field: 'link', header: 'QR Code' }
    ]"
    styleClass="p-datatable-sm mb-4"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          <span [class.p-2]="true">{{ col.header }}</span>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          @switch (col.field) {
            @case ("link") {
              <span class="font-semibold">
                <span
                  class="pi pi-qrcode text-4xl cursor-pointer"
                  (click)="toggleQrCode(rowData)"
                ></span>
              </span>
            }
            @case ("date") {
              <p-calendar
                [touchUI]="false"
                [dateFormat]="'dd/mm/yy'"
                [ngModel]="rowData!.date"
                [readonlyInput]="true"
                (onSelect)="changeDateItem(rowData!, $event)"
              ></p-calendar>
            }
            @case ("lastTrasm") {
              <span
                [class.p-2]="true"
                [class.warning-cell]="rowData.isLastTrasmDue"
                >{{ rowData[col.field] | date: "dd/MM/yyyy" }}
              </span>
            }
            @case ("lastVer") {
              <span
                [class.p-2]="true"
                [class.warning-cell]="rowData.isLastVerDue"
                >{{ rowData[col.field] | date: "dd/MM/yyyy" }}
              </span>
            }
            @case ("name") {
              <span [class.p-2]="true" [class.warning-cell]="false"
                >{{ rowData[col.field] }}
              </span>
            }
            @case ("matricola") {
              <span [class.p-2]="true" [class.warning-cell]="false"
                >{{ rowData[col.field] }}
              </span>
            }
            @case ("stato") {
              <span [class.p-2]="true" [class.warning-cell]="false"
                >{{ rowData[col.field] }}
              </span>
            }
            @case ("esito") {
              <span [class.p-2]="true" [class.warning-cell]="false"
                >{{ rowData[col.field] }}
              </span>
            }
            @case ("lastVerLab") {
              <span [class.p-2]="true" [class.warning-cell]="false"
                >{{ rowData[col.field] }}
              </span>
            }
            @case ("lastVerTec") {
              <span [class.p-2]="true" [class.warning-cell]="false"
                >{{ rowData[col.field] }}
              </span>
            }
            @case ("versDisp") {
              <span
                [class.p-2]="true"
                [class.warning-cell]="rowData.isVersionsNotEq"
                >{{ rowData[col.field] }}
              </span>
            }
            @case ("versModel") {
              <span
                [class.p-2]="true"
                [class.warning-cell]="rowData.isVersionsNotEq"
                >{{ rowData[col.field] }}
              </span>
            }
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
}
@if (GLOBAL.MOBILE) {
  <p-dataView
    #dv
    [value]="shownList"
    sortField="name"
    [sortOrder]="-1"
    [loading]="false"
  >
    <ng-template pTemplate="list" let-lista>
      <div [class]="gridClass">
        @for (item of sortArr(lista); track $index; let first = $first) {
          <div [class]="elClass">
            <div
              class="flex flex-column xl:flex-row align-items-center xl:align-items-start p-1 gap-1 xl:p-4 xl:gap-4 border-top-1 surface-border"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start m-1"
              >
                <div
                  class="text-l font-bold text-900 text-center border-solid border-1 p-3"
                  [style]="getMobileStyle(item)"
                  (click)="onItemClick(item)"
                >
                  {{ item.name }}
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </ng-template>
  </p-dataView>
  <p-sidebar
    [(visible)]="sidebarVisible"
    [position]="'bottom'"
    [modal]="true"
    [blockScroll]="true"
    [style]="{ height: '80dvh' }"
  >
    <ng-template pTemplate="header">
      <div class="text-2xl font-bold text-900 ml-3">
        {{ selectedItem?.name }}
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div
        class="flex flex-column gap-4 m-3"
        [style]="{ overflow: 'scroll', height: '55dvh' }"
      >
        <div class="flex align-items-center gap-3">
          <span>Matricola: </span>
          <span class="font-semibold">{{ selectedItem?.matricola }}</span>
        </div>
        <div class="flex align-items-center gap-3">
          <span>Stato: </span>
          <span class="font-semibold">{{ selectedItem?.stato }}</span>
        </div>
        <div
          class="flex align-items-center gap-3"
          [style]="getLastVerStyle(selectedItem!)"
        >
          <span>Ultima verifica: </span>
          <span class="font-semibold">
            {{ selectedItem?.lastVer | date: "dd/MM/yyyy" }}
          </span>
        </div>
        <div class="flex align-items-center gap-3">
          <span>Ultima verifica tecnico: </span>
          <span class="font-semibold"
            >{{ selectedItem?.lastVerTec }} <br />(
            {{ selectedItem?.lastVerLab }} )</span
          >
        </div>
        <div
          class="flex align-items-center gap-3"
          [style]="getLastTrasmStyle(selectedItem!)"
        >
          <span>Ultima trasmissione: </span>
          <span class="font-semibold">
            {{ selectedItem?.lastTrasm | date: "dd/MM/yyyy" }}
          </span>
        </div>
        <div
          class="flex align-items-center gap-3"
          [style]="getVersionsNotEqStyle(selectedItem!)"
        >
          <span>Versione disponibile: </span>
          <span class="font-semibold">{{ selectedItem?.versDisp }}</span>
        </div>
        <div
          class="flex align-items-center gap-3"
          [style]="getVersionsNotEqStyle(selectedItem!)"
        >
          <span>Versione modello: </span>
          <span class="font-semibold">{{ selectedItem?.versModel }}</span>
        </div>
        <div class="flex align-items-center gap-3">
          <span>Scadenza assistenza: </span>
          <p-calendar
            [touchUI]="false"
            [dateFormat]="'dd/mm/yy'"
            [ngModel]="selectedItem!.date"
            [readonlyInput]="true"
            (onSelect)="changeDateItem(selectedItem!, $event)"
          ></p-calendar>
        </div>
        <div class="flex align-items-center gap-3">
          <span>QR Code: </span>
          <span class="font-semibold ml-4">
            <span
              class="pi pi-qrcode text-5xl"
              (click)="toggleQrCode(selectedItem)"
            ></span>
          </span>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
}
<p-blockUI [blocked]="isLoading">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</p-blockUI>
<p-dialog
  [(visible)]="qrCodeVisible"
  [header]="qrCodeName"
  [modal]="true"
  [dismissableMask]="true"
>
  <div class="flex justify-content-center align-items-center">
    <qrcode
      [qrdata]="qrCodeLink ?? ''"
      [width]="10"
      [errorCorrectionLevel]="'L'"
      [allowEmptyString]="true"
    ></qrcode>
  </div>
</p-dialog>
